@charset "UTF-8";
     * {
       margin: 0; 
       padding: 0;
     }

     div#banner { 
       position: absolute; 
       top: 0; 
       left: 0; 
       background-color: #ffa068; 
       width: 100%; 
       color: white;
       font-family: Arial, sans-serif;
       /*height: 150px;
       */
     }
     div#banner-content { 
       /*width: 800px; */
       margin: 0 auto; 
       padding: 10px; 
     }
     div#main-content { 
       padding-top: 100px;
    }
     div#feature {
  	   position: absolute;
  	   top: 0;
       right: 0;
  	   padding: 10px; 
}
div#center-space {
  	width: 1000px;
  height: 600px;
  background-color: #d3d3d3;
  border: 1px solid #ccc;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

body {
  background-color: #ff5f00; /* Bright orange background color for the whole page */
}

div#user { 
       position: absolute; 
       top: 0; 
       left: 0; 
       background-color: #afafaf; 
       width: 100%; 
       color: white;
       font-family: Arial, sans-serif;
       /*height: 150px;
       */
     }
     div#user-content { 
       /*width: 800px; */
       margin: 0 auto; 
       padding: 10px; 
     }
     div#message {
     /*position: absolute;
     bottom: 0;
     left: 0; 
     background-color: #afafaf; 
     width: 100%; 
     color: white;*/
     
      position: absolute;
    bottom: 0;
    left: 50%; /* Adjusted left positioning */
    transform: translateX(-50%); /* Center horizontally */
    background-color: #afafaf;
    width: 98%; /* Adjusted width */
    color: white;
    padding: 10px;
     }
     
     input#message {
     width: 850px; 
     height: 25px;
     padding: 10px;
     }