@charset "UTF-8";
* {
	margin: 0; 
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
    background-color: #F88A3E;
    display: flex;
}

p {
	display: block;
}

div#navigation-bar {
	background-color: #ffa068;
	width: 100%;
	height:auto;
	color: white;
	font-size: 16px;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.2);
    position:fixed;
    top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
    padding-left:30px;
    padding-right:30px;
}

#nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}

#nav li {
    line-height: 30px;
    text-align: center;
}

#nav a {
    color: white;
    font-size:17px;
    text-decoration:none;
}

#nav a:hover:after {
    transform: scaleX(1);
}

#nav a::after {
    display:block;
    content: '';
    border-bottom: solid 3px #d3cbf5;  
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

.right-items ul {
    display:flex;
    padding:0;
    margin:0;
    list-style: none;
}

.right-items li {
    padding-left: 8px;
}

div#vertical-navbar {
	background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 34px; 
    left: 0;
    width: 200px;
    height: calc(100% - 34px); 
    padding: 30px 10px;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    display: inline-block;
}

#vertical-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#vertical-navbar a {
    color: white;
    font-size: 23px;
    text-decoration: none;
    display: block; 
    transition: color 0.3s;
}

#vertical-navbar a:hover::after {
    transform: scaleX(1);
}

#vertical-navbar a::after {
    content: '';
    display: block;
    border-bottom: solid 3px #d3cbf5;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
    transform-origin: 50% 50%;
}

#vertical-navbar li {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 35px; 
}

div#friends-overview {
    background-color: #D9D9D9;
    width: 1125px;
    height: 600px;
    margin-top: 80px;
    margin-left: 250px;
    margin-right: 50px;
}

p#friends {
	padding: 30px;
	font-size: 30px;
	text-align: center;
	color: #555555;
}

#friends-overview ul {
  list-style-type: none;
}

.flex-container {
	display: flex;
}

.friend-element {
	padding: 10px;
	background-color: #FFFFFF;
	width: 95%;
	height: 100px;
	display: flex;
	margin-left: 15px;
}

.friend-info {
	background-color: #FFFFFF;
	width: 85%;
	height: 100px;
}

.friend-username {
	color: black;
	font-size: 20px;
	padding: 10px;
	display: block;
}

.shared-event {
	color: #555555;
	font-size: 20px;
	padding: 10px;
	display: block;
}

.friend-message {
	align-items: center;
	position: relative;
	height: 90%;

}

.goto-message {
	width: 180px;
	padding: 10px;
    font-size:large;
    background-color: #F88A3E;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}